<div class="SurveyWelcome survey__content">
  <div class="survey__message" v-html="surveyData.message"></div>
  <button
    class="el-button button button--success button--ripple survey__item--button"
    @click="setQuestion"
    v-if="surveyData.questionId"
    >Przejdź do ankiety</button>
</div>
