.button
  font-size: 1.1rem
  font-weight: 500 !important
  height: 26px
  line-height: 16px
  color: #FFFFFF
  padding: 3px 20px !important
  // margin: 0px 2px
  min-width: 85px
  @include border-radius(4px)
  @include transition(all 0.05s linear)
  &:focus
    outline: none !important

.button--small
  font-size: 0.9rem
  font-weight: 400 !important
  height: 20px
  line-height: 11px

.button--large
  font-size: 1.3rem
  font-weight: 600 !important
  height: 32px
  line-height: 21px

.button--block
  position: relative
  width: 100%

.button--ripple
  position: relative
  overflow: hidden
  transform: translate3d(0, 0, 0)
  &::after
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    pointer-events: none
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%)
    background-repeat: no-repeat
    background-position: 50%
    transform: scale(10, 10)
    opacity: 0
    transition: transform .5s, opacity 1s
  &:active::after
    transform: scale(0, 0)
    opacity: .2
    transition: 0s

.button--smaller-margin
  margin-bottom: 20px

.button--base
  position: relative
  background: #FFFFFF
  &:hover
    background: #FFFFFF
    transform: scale(1.1)
  &:focus
    background: #FFFFFF

.button--default
  background: $color__button__default
  border: 1px solid $color__button__default--border
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__default--hover
    border: 1px solid $color__button__default--hover
    color: #FFFFFF

  &:focus
    background: $color__button__default--hover
    border: 1px solid $color__button__default--focus
    outline: 0

.button--default-outline
  background: none
  border: 2px solid $color__button__default-outline
  color: $color__button__default-outline
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__default-outline--hover
    border: 2px solid $color__button__default-outline--hover
    color: #FFFFFF

.button--info
  background: $color__button__info
  border: 1px solid $color__button__info--border
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__info--hover
    border: 1px solid $color__button__info--hover
    color: #FFFFFF
  &:focus
    background: $color__button__info--focus
    border: 1px solid $color__button__info--hover
    outline: 0

.button--info-outline
  background: none
  border: 2px solid $color__button__info-outline
  color: $color__button__info-outline
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__info-outline--hover
    border: 2px solid $color__button__info-outline--hover
    color: #FFFFFF

.button--info-active
  background: $color__button__info
  color: #FFFFFF

.button--primary
  background: $color__button__primary
  border: 1px solid $color__button__primary--border
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__primary--hover
    border: 1px solid $color__button__primary--hover
    color: #FFFFFF
  &:focus
    background: $color__button__primary--focus
    border: 1px solid $color__button__primary--hover
    outline: 0

.button--primary-outline
  background: none
  border: 2px solid $color__button__primary-outline
  color: $color__button__primary-outline
  @include transition(all 0.1s linear)
  &:hover
    background: $color__button__primary-outline--hover
    border: 2px solid $color__button__primary-outline--hover
    color: #FFFFFF

.button--primary-active
  background: $color__button__primary
  color: #FFFFFF

.button--danger
  background: $color__button__danger
  border: 1px solid $color__button__danger--border
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__danger--hover
    border: 1px solid $color__button__danger--hover
    color: #FFFFFF
  &:focus
    background: $color__button__danger--hover
    border: 1px solid $color__button__danger--hover
    outline: 0

.button--danger-outline
  background: none
  border: 2px solid $color__button__danger-outline
  color: $color__button__danger-outline
  @include transition(all 0.2s linear)
  &:hover
    background-color: $color__button__danger-outline--hover
    border: 2px solid $color__button__danger-outline--hover
    color: #FFFFFF

.button--danger-active
  background: $color__button__danger
  color: #FFFFFF

.button--cancel
  background: $color__button__cancel
  border: 1px solid $color__button__cancel--border
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__cancel--hover
    border: 1px solid $color__button__cancel--hover
    color: #FFFFFF
  &:focus
    background: $color__button__cancel--hover
    border: 1px solid $color__button__cancel--hover
    outline: 0

.button--cancel-outline
  background: none
  border: 2px solid $color__button__cancel-outline
  color: $color__button__cancel-outline
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__cancel-outline--hover
    border: 2px solid $color__button__cancel-outline--hover
    color: #FFFFFF

.button--cancel-active
  background: $color__button__cancel
  color: #FFFFFF

.button--success
  background: $color__button__success
  border: 1px solid $color__button__success--border
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__success--hover
    border: 1px solid $color__button__success--hover
    color: #FFFFFF
  &:focus
    background: $color__button__success--focus
    border: 1px solid $color__button__success--focus
    outline: 0

.button--success-outline
  background: none
  border: 2px solid $color__button__success-outline
  color: $color__button__success-outline
  @include transition(all 0.2s linear)
  &:hover
    background: $color__button__success-outline--hover
    border: 2px solid $color__button__success-outline--hover
    color: #FFFFFF

.button--success-active
  background: $color__button__success
  color: #FFFFFF

.button--circle
  width: 25px
  height: 25px
  line-height: 21px
  border-radius: 50%
  color: #f5f5f5
  text-align: center
  text-decoration: none
  font-size: 12px
  font-weight: bold

.button--circle--lg
  width: 35px
  height: 35px
  line-height: 21px
  font-size: 20px

.button--disabled
  opacity: .4

// EL-BUTTONS ///////////////////////////////////////////////////
.el-button:focus
  color: #FFF
