.card
  position: relative
  background-color: #FFFFFF
  margin-bottom: 30px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1)
  border-left: 5px solid rgba(63, 63, 68, 0.1)

  &:before, &::after
    z-index: -1
    position: absolute
    content: ""
    bottom: 12px
    left: 5px
    width: 95%
    top: 54%
    background: #777
    box-shadow: 0 11px 10px #777

  &:after
    right: 10px
    left: auto

.card--primary
  border-left: 5px solid $color__card__primary

.card--info
  border-left: 5px solid $color__card__info

.card--success
  border-left: 5px solid $color__card__success

.card--danger
  border-left: 5px solid $color__card__danger

.card--warning
  border-left: 5px solid $color__card__warning

.card__header
  padding: 10px 10px 0

.card__header__title
  margin: 0
  font-size: 15px
  font-weight: 600

.card__header__label
  font-size: 12px
  font-weight: 400
  margin-bottom: 0px

.card__content
  padding: 15px 15px 10px 10px

.card__footer
  display: inline-block
  width: 100%
  border-top: 1px solid rgba(0, 0, 0, 0.05)
  padding: 10px 10px 5px 10px

.card__footer__buttons-group
  float: right
