.el-form-item__label
  font-size: 13px

  @include breakpoint(small)
    padding-bottom: 4px !important

.el-form-item
  margin-bottom: 4px

  @include breakpoint(small)
    margin-bottom: 12px

.el-input__inner
  height: 30px
  width: 100%
