.npr-label
  display: inline
  padding: .2em .6em .3em
  font-size: 85%
  font-weight: 700
  line-height: 1
  color: #fff
  text-align: center
  white-space: nowrap
  vertical-align: baseline

.npr-label--default
  background: $color__main--grey

.npr-label--danger
  background: $color__main--red

.npr-label--warning
  background: $color__main--yellow

.npr-label--success
  background: lighten($color__main--green, 5%)
  border: 1px solid $color__main--green
  border-left: 5px solid $color__main--green

.npr-label--info
  background: $color__main--blue

.npr-label--up
  position: absolute

.npr-label--default-outline
  color: $color__main--grey
  border: 1px solid $color__main--lighter-grey
  border-left: 5px solid $color__main--lighter-grey

.npr-label--info-outline
  color: $color__main--blue
  border: 1px solid $color__main--blue
  border-left: 5px solid $color__main--blue

.npr-label--success-outline
  color: $color__main--green
  border: 1px solid $color__main--green
  border-left: 5px solid $color__main--green

.npr-label--danger-outline
  color: $color__main--red
  border: 1px solid $color__main--red
  border-left: 5px solid $color__main--red
