.el-select
  margin-left: 7px

.el-pagination__sizes
  right: 5px
  position: absolute

.el-pagination__sizes::before
  content: "Ilość wyników na stronę:"

.el-pager li.active
  border-color: $color__main--blue
  background-color: $color__main--blue

.el-pager li.hover
  color: $color__main--blue--accent

.el-select-dropdown__item.selected
  background-color: $color__main--blue
  
.el-select-dropdown__item.selected.hover
  background-color: $color__main--blue--accent
