.panel
  clear: both
  position: relative
  background-color: #FFFFFF
  margin-bottom: 30px
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1) !important
  border-top: 2px solid rgba(63, 63, 68, 0.1) !important
  @include border-radius(0px !important)
  &:before, &::after
    z-index: -1
    position: absolute
    content: ""
    bottom: 12px
    left: 5px
    width: 97%
    top: 54%
    background: #777
    box-shadow: 0 11px 10px #777

  &:after
    right: 10px
    left: auto

.panel__header
  padding: 10px
  display: inline-block
  width: 100%
  border-bottom: 1px solid #ECECEC

.panel__header__title
  margin: 0
  display: inline-block
  float: left
  font-size: 15px
  font-weight: 600

.panel__header__tools
  display: block
  float: none
  margin-top: 0
  position: relative
  padding: 0
  text-align: right
  a
    color: #8D9BA9 !important
    cursor: pointer
  a:active
    color: #ECECED

.panel__content
  padding: 15px 15px 15px 10px

.panel--primary
  border-top: 2px solid $color__panel__primary !important

.panel--success
  border-top: 2px solid $color__panel__success !important

.panel--info
  border-top: 2px solid $color__panel__info !important

.panel--danger
  border-top: 2px solid $color__panel__danger !important

.panel--warning
  border-top: 2px solid $color__panel__warning !important
