.sticker
  position: relative
  display: inline-block
  width: 100%
  background: #ECECED
  padding: 10px
  margin-bottom: 10px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

.sticker__description
  position: relative
  float: left
  width: 80%
  .sticker__title
    margin: 0
    font-weight: 900
    text-align: left

  .sticker__label
    font-size: 12px
    font-weight: 400
    margin-bottom: 0px
    text-align: left

.sticker__icon
  position: relative
  display: inline-block
  float: right
  width: 20%
  padding: 0
  height: calc(100% - 20px)
  text-align: right
  i
      position: relative
      top: -4px

.sticker--primary
  background: $color__sticker__primary
  color: #FFFFFF

.sticker--success
  background: $color__sticker__success
  color: #FFFFFF

.sticker--info
  background: $color__sticker__info
  color: #FFFFFF

.sticker--danger
  background: $color__sticker__danger
  color: #FFFFFF

.sticker--warning
  background: $color__sticker__warning
  color: #FFFFFF

.sticker--reverse
  color: #ECECED
  background: #8D9BA9
  &.sticker--primary
    background: #FFFFFF
    color: $color__sticker__primary
  &.sticker--success
    background: #FFFFFF
    color: $color__sticker__success
  &.sticker--info
    background: #FFFFFF
    color: $color__sticker__info
  &.sticker--danger
    background: #FFFFFF
    color: $color__sticker__danger
  &.sticker--warning
    background: #FFFFFF
    color: $color__sticker__warning
