.survey__background
  position: fixed
  width: 100%
  height: 100%
  z-index: -100

.survey__wrapper
  display: flex
  flex-direction: column
  height: 100%

.survey__content-container
  flex: 1 0 auto

.survey__content
  padding: 10px

.survey__message
  text-align: center
  font-size: 18px
  max-width: 550px
  margin: 0 auto 20px auto

.survey__item
  display: block
  width: 95%
  max-width: 400px
  height: 40px
  font-size: 15px
  border-radius: 3px
  margin: 0 auto 25px auto

  @include breakpoint(mobile)
    position: fixed
    left: 0
    right: 0
    margin: 0 auto
    bottom: 152px

.survey__item--button
  @extend .survey__item
  height: 50px  

  @include breakpoint(mobile)
    bottom: 70px

.survey__item--button--radio
  margin-top: 20px


.survey__item--textarea
  @extend .survey__item
  height: 120px
  margin-bottom: 3px
  padding: 7px

.survey__characters-left
  text-align: center
  display: block
  margin-bottom: 15px
  @include breakpoint(mobile)
    font-size: 11px
    position: fixed
    bottom: 262px
    right: 15px

.survey__characters-left--warning
  color: #ff8300

.survey__characters-left--danger
  color: #d80000

.survey__item-title
  display: block
  margin: 0 auto
  text-align: center

  @include breakpoint(mobile)
    position: fixed
    bottom: 195px
    left: 0
    right: 0

.survey__emoticon
  font-size: 90px
  display: block
  margin: 20px auto 0 auto
  text-align: center
  line-height: 40px

  @include breakpoint(mobile)
    position: fixed
    bottom: 260px
    left: 0
    right: 0

.survey__emoticon-title
  @extend .survey__emoticon
  margin-top: 0
  font-size: 26px
  margin-bottom: 20px

  @include breakpoint(mobile)
    bottom: 200px

.survey__slider-container
  margin: 30px auto
  display: block
  width: 100%
  max-width: 400px
  padding: 0 25px

  @include breakpoint(mobile)
    margin: 20px auto
    position: fixed
    bottom: 140px
    left: 0
    right: 0