.table .radio,
.table .checkbox
  position: relative
  height: 20px
  display: block
  width: 20px
  padding: 0px 0px
  margin: 0px 5px
  text-align: center

.table .radio .icons,
.table .checkbox .icons
  left: 5px

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
  padding: 12px 8px
  vertical-align: middle

.table > thead > tr > th
  border-bottom-width: 1px
  font-weight: 900
  text-transform: uppercase
  padding-bottom: 5px

.table .td-actions .btn
  opacity: 0.36
  filter: alpha(opacity=36)

.table .td-actions .btn.btn-xs
  padding-left: 3px
  padding-right: 3px

.table .td-actions
  min-width: 90px

.table > tbody > tr
  position: relative

.table > tbody > tr:hover .td-actions .btn
  opacity: 1
  filter: alpha(opacity=100)

@media (min-width: 992px)
  .table-full-width
    margin-left: -15px
    margin-right: -15px

  .table-responsive
    overflow: visible

@media (max-width: 991px)
  .table-responsive
    width: 100%
    margin-bottom: 15px
    overflow-x: scroll
    overflow-y: hidden
    -ms-overflow-style: -ms-autohiding-scrollbar
    -webkit-overflow-scrolling: touch
