._exradicated-tooltip
  position: absolute
  opacity: 1
  z-index: 999

tooltip
  display: inline-block
  position: relative


@-webkit-keyframes animateTooltip
  0%
    opacity: 0
  30%
    opacity: .3
  50%
    opacity: .5
  60%
    opacity: .8
  70%
    opacity: .9
  90%
    opacity: 1

@-moz-keyframes animateTooltip
  0%
    opacity: 0
  30%
    opacity: .3
  50%
    opacity: .5
  60%
    opacity: .8
  70%
    opacity: .9
  90%
    opacity: 1

@-ms-keyframes animateTooltip
  0%
    opacity: 0
  30%
    opacity: .3
  50%
    opacity: .5
  60%
    opacity: .8
  70%
    opacity: .9
  90%
    opacity: 1

@keyframes animateTooltip
  0%
    opacity: 0
  30%
    opacity: .3
  50%
    opacity: .5
  60%
    opacity: .8
  70%
    opacity: .9
  90%
    opacity: 1

tooltip._multiline
  display: inline
tooltip._slow._ready tip
  animation: animateTooltip 1s
tooltip._fast._ready tip
  animation: animateTooltip 0.15s
tooltip._steady._ready tip
  animation: animateTooltip 0.35s
tooltip tip
  background: $color__tooltip__background
  color: #fff
  display: none
  line-height: normal
  max-width: 500px
  min-width: 100px
  opacity: 0
  padding: 4px 6px
  position: absolute
  text-align: center
  width: auto
  font-size: 1.1rem
  will-change: top, left, bottom, right
  tooltip tip._hidden
    display: block
    visibility: hidden
tooltip.active tip
  display: block
  opacity: 1
  z-index: 999
tooltip tip-tip
  font-size: .95em
  tooltip tip-tip._large
    font-size: 1.1em
  tooltip tip-tip._small
    font-size: .8em
tooltip._top tip
  left: 50%
  top: -9px
  -webkit-transform: translateX(-50%) translateY(-100%)
  transform: translateX(-50%) translateY(-100%)
  tooltip._top tip tip-arrow
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid $color__tooltip__border
    content: ''
    height: 0
    left: 50%
    margin-left: -6px
    position: absolute
    top: 100%
    width: 0
tooltip._bottom tip
  right: 50%
  top: 100%
  -webkit-transform: translateX(50%) translateY(9px)
  transform: translateX(50%) translateY(9px)
  tooltip._bottom tip tip-arrow
    border-bottom: 6px solid $color__tooltip__border
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    bottom: 100%
    content: ''
    height: 0
    left: 50%
    margin-left: -6px
    position: absolute
    width: 0

tooltip._right tip
  left: 100%
  top: 50%
  -webkit-transform: translateX(9px) translateY(-50%)
  transform: translateX(9px) translateY(-50%)
  tooltip._right tip tip-arrow
    border-bottom: 6px solid transparent
    border-right: 6px solid $color__tooltip__border
    border-top: 6px solid transparent
    content: ''
    height: 0
    margin-top: -6px
    position: absolute
    right: 100%
    top: 50%
    width: 0

tooltip._left tip
  left: -9px
  top: 50%
  -webkit-transform: translateX(-100%) translateY(-50%)
  transform: translateX(-100%) translateY(-50%)
  tooltip._left tip tip-arrow
    border-bottom: 6px solid transparent
    border-left: 6px solid $color__tooltip__border
    border-top: 6px solid transparent
    content: ''
    height: 0
    left: 100%
    margin-top: -6px
    position: absolute
    top: 50%
    width: 0

tip-tip #close-button
  cursor: pointer
  float: right
  left: 8%
  margin-top: -7%
  padding: 3px
  position: relative

/*# sourceMappingURL=angular-tooltips.css.map */
