.widget
  position: relative
  display: flex
  justify-content: flex-end
  width: 100%
  padding: 10px
  border: 1px solid rgba(63, 63, 68, 0.3)
  @include border-radius(5px)

.widget:hover
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)

.widget__content
  display: inline-block
  flex: 1 auto

.widget__title
  font-size: 13px
  font-weight: 900

.widget__data
  font-size: 24px
  font-weight: 100

.widget__icon
  display: inline-block
  flex: 1 auto
  font-size: 38px
  text-align: right

.widget--default
  background: $color__widget__default
  color: #FFFFFF

.widget--primary
  background: $color__widget__primary
  color: #FFFFFF

.widget--success
  background: $color__widget__success
  color: #FFFFFF

.widget--info
  background: $color__widget__info
  color: #FFFFFF

.widget--danger
  background: $color__widget__danger
  color: #FFFFFF

.widget--warning
  background: $color__widget__warning
  color: #FFFFFF

.widget--reverse
  &.widget--default
    background: #FFFFFF
    color: $color__widget__default

  &.widget--primary
    background: #FFFFFF
    color: $color__widget__primary

  &.widget--success
    background: #FFFFFF
    color: $color__widget__success

  &.widget--info
    background: #FFFFFF
    color: $color__widget__info

  &.widget--danger
    background: #FFFFFF
    color: $color__widget__danger

  &.widget--warning
    background: #FFFFFF
    color: $color__widget__warning
