<div class="SurveyFooter survey-card">
  <p class="SF-message">Powered by: <a href="http://www.telestrada.pl/" target="_blank"><img src="../../../Styles/images/telestrada_logo.png" alt="Telestrada logo"></a></p>
</div>
