.SurveyLogo
  min-width: 320px
  margin: 0 auto
  text-align: center
  margin-bottom: 10px

.SL-image
  display: block
  margin: 10px auto
  max-width: 300px
  max-height: 80px

.SL-title
  font-size: 18px
  width: 100%
  padding: 3px 0
  border-top: 1px solid rgba(0,0,0,0.1)
  border-bottom: 1px solid rgba(0,0,0,0.1)
  background-color: #FFF

.SL-title--placeholder
  font-size: 18px
  width: 100%
  padding: 10px 0