<div class="SurveyQuestionOpen survey__content">
  <div class="survey__message" v-html="surveyData.message"></div>
  <textarea class="survey__item survey__item--textarea" v-model="enteredText" placeholder="Podziel się swoją opinią..."></textarea>
  <div
    class="survey__characters-left"
    :class="{'survey__characters-left--warning' : charactersLeft <= 30, 'survey__characters-left--danger' : charactersLeft <= 10}">
    Pozostało znaków: {{ charactersLeft }}</div>
  <button
    class="el-button button button--success button--ripple button--large survey__item--button"
    :class="{'button--disabled' : enteredText.length > 250 || enteredText.length < 4}"
    :disabled="enteredText.length < 4 || enteredText.length > 250"
    @click="sendAnswer(enteredText)">
      Przejdź dalej</button>
</div>
