.el-input__inner
  height: 45px !important

.el-select-dropdown__item
  height: 45px
  padding: 13px 10px

.el-select-dropdown__item.selected,
.el-select-dropdown__item.selected.hover
  background-color: #23B394

.el-select .el-input__inner:focus
  border-color: #18A689