<div class="SurveyQuestionClose survey__content">
  <div class="survey__message" v-html="surveyData.message"></div>
  <el-select class="survey__item" v-model="selectedAnswer" placeholder="-- Wybierz odpowiednią opcję --">
    <el-option
      v-for="answer in surveyData.answers"
      :key="answer"
      :label="answer.message"
      :value="answer">
    </el-option>
  </el-select>
  <button
    class="el-button button button--success button--ripple survey__item--button"
    :class="{'button--disabled' : !selectedAnswer}"
    :disabled="!selectedAnswer"
    @click="sendAnswer(selectedAnswer)">
      Przejdź dalej</button>
</div>
