<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="my-body">
  <div id="app">

  </div>
</body>
</html>
