.modal__mask
  position: fixed
  z-index: 999
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .6)
  display: flex
  align-items: center
  justify-content: center
  transition: opacity .3s ease

.modal__redirect-buton
  margin-top: 15px

.modal__container
  position: relative
  max-height: 85vh
  margin: 0px auto
  padding: 20px 0 10px 0
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
  transition: all .3s ease

.modal__container--small
  width: 30vw

  @include breakpoint(medium)
    width: 80vw

.modal__container--medium
  width: 60vw

  @include breakpoint(medium)
    width: 80vw

.modal__container--large
  width: 90vw

.modal__header
  font-size: 20px
  font-weight: bold
  text-align: center
  padding: 0 10px

.modal__content
  padding: 0 10px
  max-height: 65vh
  overflow: auto
  margin-bottom: 15px
  text-align: center

.modal__text
  display: block
  margin-top: 10px

.modal__text--error
  font-size: 18px
  margin-top: 15px
  margin-bottom: 30px

.modal__close
  position: absolute
  right: 17px
  top: 14px
  cursor: pointer
  font-size: 20px
  display: inline-block
