<div class="Modal">  
    <div class="modal__mask">
      <div class="modal__container card" :class="`modal__container--${modal.size}`">        
        <div class="modal__header">
          {{ modal.header }}
        </div>
        <div class="modal__content">
    			<span v-if="modal.content.info" class="modal__text">{{ modal.content.info }}</span>
          <span v-if="modal.content.error" class="modal__text modal__text--error">{{ modal.content.error}}</span>
          <button v-if="modal.content.error !== null" type="button" class="modal__button button button--large button--success button--ripple"
            @click="toggleModal({ header: 'Dziękujemy za przesłanie zgłoszenia!', content: { info: null, error: null }, buttonText: 'Zamknij okno'})"
          >{{ modal.buttonText }}</button>
          <div v-if="config.shoudlRedirectAfterFinish">
            <a
            class="el-button button button--success button--ripple survey__item--redirect modal__redirect-buton"
            :href="config.redirectLink"
            >Zakończ</a>
          </div>
        </div>
      </div>
    </div>
</div>
