<div class="SurveyEnd survey__content">
  <div class="survey__message" v-html="surveyData.message"></div>
  <div class="survey__redirect" v-if="surveyConfig.shoudlRedirectAfterFinish">
    <a
    class="el-button button button--success button--ripple survey__item--button survey__item--redirect"
    :href="surveyConfig.redirectLink"
    >Zakończ</a>
  </div>
</div>
