@import "base/_globals"
@import "base/_animations"
@import "base/_transitions"
@import "blocks/_button"
@import "blocks/_input"
@import "blocks/_form"
@import "blocks/_survey"
@import "blocks/_radio"
@import "config/_animations.css"

#App
  position: absolute
  width: 100%
  height: 100%
