<div class="SurveyQuestionCheckbox survey__content">
  <div class="survey__message" v-html="surveyData.message"></div>
  <div class="SurveyQuestionCheckbox__item" v-for="answer in surveyData.answers" :key="answer">
      <el-radio class="radio" v-model="selectedAnswer" :label="answer">
        {{ answer.message }}
      </el-radio>
  </div>
  <button
    class="el-button button button--success button--ripple survey__item--button survey__item--button--radio"
    :class="{'button--disabled' : !selectedAnswer}"
    :disabled="!selectedAnswer"
    @click="sendAnswer(selectedAnswer)">
      Przejdź dalej</button>  
</div>
