.fade-in-bck
	-webkit-animation: fade-in 1.2s ease-out 0.5s forwards
	-moz-animation: fade-in 1.2s ease-out 0.5s forwards
	animation: fade-in 1.2s ease-out 0.5s forwards

.fade-in-left
	-webkit-animation: fade-in-left 0.6s ease-out 0.2s forwards
	-moz-animation: fade-in-left 0.6s ease-out 0.2s forwards
	animation: fade-in-left 0.6s ease-out 0.2s forwards

.text-focus-in 
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
