@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700&subset=latin,latin-ext")
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,300,500,700&subset=latin,latin-ext")

*,body,html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: "Open Sans", Helvetica, Arial, sans-serif

html
  height: 100%
  width: 100%

.my-body
  position: absolute
  width: 100%
  height: 100%
  -webkit-animation-delay: 0.1s
  -webkit-animation-name: fontfix
  -webkit-animation-duration: 0.1s
  -webkit-animation-iteration-count: 1
  -webkit-animation-timing-function: linear
  font-size: $font__base__size !important
  font-weight: 400 !important
  color: $color__text
  background-color: $color__base__backgrond
  //overflow: hidden

.my-container
  position: relative
  width: 100%
  height: 100%

@-webkit-keyframes fontfix
    from { opacity: 1; }
    to   { opacity: 1; }

a
  text-decoration: none
  color: $color__hyperlink__default

a:link, a:visited
	text-decoration: none
	color: $color__hyperlink__default

a:hover, a:active
	text-decoration: none
	color: $color__hyperlink__default

h2
  font-size: 28px !important
  font-weight: 100 !important

h4
  font-weight: 100 !important
