<div class="SurveyQuestionSlider survey__content">
  <div class="survey__message" v-html="surveyData.message"></div>
  
  <span class="survey__emoticon">
    <i v-for="answer in surveyData.answers" :style="{color: answer.color}" v-if="selectedAnswer == answer.position" :class="answer.icon" aria-hidden="true"></i>
  </span>
  <span class="survey__emoticon-title" v-for="answer in surveyData.answers" v-if="selectedAnswer == answer.position">{{answer.message}}</span>
  <span class="survey__item-title">Wybierz wartość za pomocą suwaka</span>
  <div class="survey__slider-container">    
    <div class="survey__slider"></div>    
  </div>
  <button class="el-button button button--success button--ripple survey__item--button" @click="sendAnswer(surveyData.answers[selectedAnswer])">Przejdź dalej</button>
</div>
